*, :before, :after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.titulo{
	color: #06a80c;
}

.subtitulo{
	padding-bottom: 5px;
	border-bottom: 2px solid #045b46;
}

.galeria{
	padding: 15px;
	border-radius: 10px;
	border: 1px solid rgb(161, 161, 161);
}

.galeria__item{
	padding: 20px;
	background: rgb(205, 205, 205);
	margin-bottom: 20px;
	text-align: center;
}

.galeria__item:last-child{
	margin-bottom: 0;
}

.galeria__titulo{
	font-size: 20px;
	color: #000000;
	font-family: cursive;
}

.galeria__descripcion{
	color: #404040;
}

.galeria__btn{
	padding: 10px;
	background: #5c7800;
	border-radius: 8px;
	text-decoration: none;
}
