*,
:before,
:after{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h1{
	color: rgb(113, 50, 170);
}

p{
	font-size: 18px;
}

div{
	border: 2px solid rgb(252, 165, 202);
}
