@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Russo+One&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.title{
    font-family: 'Russo One', sans-serif;
    font-weight: 400; /* especifica el peso o grueso de la letra */
}

/* ==================================== */
.orange{
    color: orange;
}

.red {
    color: red;
}

.tan {
    color: tan;
}

.rebeccapurple {
    color: rebeccapurple;
}

/* ==================================== */
.div2 p {
    color: #009900; /* RR - GG - BB = Red - Green - Blue */
}

/* ==================================== */

.div3 .rgb {
    color: rgb(193, 1, 1); /* red - green - blue */
}

.div3 .rgba {
    color: rgba(193, 2, 6, 0.5)
}

/* ==================================== */

.div4 .hsl{
    color: hsl(244, 77%, 34%);  
}

.div4 .hsla{
    color: hsla(296, 92%, 30%, 0.8);
}