/*h1,
p,
div{
	color: rgb(2, 159, 17);
}*/

body{
	color: rgb(224, 34, 223); /*se puede heredar*/
	font-size: 30px;/*se puede heredar*/
	padding: 10px;/*no hereda*/
	border: 5px solid rgb(0, 201, 255);
}

h1{
	font-size: 10px;
}

p,
div{
	border: inherit;
}
